---
import Layout from "../layouts/Layout.astro";
import AboutUsHero from "../components/about-us/about-us-hero.astro";
import OurMission from "../components/about-us/our-mission.astro";
import BlogInfo from "../components/about-us/blog-info.astro"
import ListOfAuthors from "../components/about-us/list-of-authors.astro";
---

<Layout title="About us">
<main>
<AboutUsHero />
<OurMission />
<BlogInfo />
<ListOfAuthors />
</main>
</Layout>