---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Blog-Post/post-section.astro"
import NextPosts from "../components/Blog-Post/next-posts.astro";
import JoinTeam from "../components/join-team.astro";
---

<Layout title="Blog Post">
    <main>
    <Header />
    <NextPosts />
    <JoinTeam />
    </main>
  </Layout>