---
import PrivacyHero from "../components/user-profile/privacy-policy/privacy-hero.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Privacy Policy">
    <main>
        <PrivacyHero />
    </main>
</Layout>

