---
import CategoriesCard from "../categories-card.astro";
---
<section class="categories">
    <div class="container">
        <h2 class="title">All Catagories</h2>

        <div class="wrapper">
            <CategoriesCard/>
            <CategoriesCard/>
            <CategoriesCard/>
            <CategoriesCard/>
            
        </div>
    </div>
</section>

<!-- style -->
<style lang="scss">
    @import "../../assets/styles/variables.scss";
    .categories{
        padding-bottom: 128px;
        .title{
            margin-bottom: 48px;
        }
        .wrapper{
            display: flex;
            justify-content: space-between;
        }
    }
</style>