---
---

<section class="testimonials">
  <div class="container wrapper">
    <!-- left -->
    <div class="people-say">
      <p class="top-title">TESTIMONIALs</p>
      <h2 class="title">What people say about our blog</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </p>
    </div>
  </div>
  <!-- right -->
  <div class="content">
    <h4 class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </h4>
    <div class="user">
        <div class="info">
            
        </div>
    </div>

  </div>
</section>

<style lang="scss">
  @import "../../assets/styles/variables.scss";
</style>
