---
import TheButton from "./the-button.astro";
---

<div class="join-us">
  <div class="container team">
    <h2>Join our team to be a part <br /> of our story</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing <br /> elit, sed do eiusmod
      tempor incididunt.
    </p>
    <TheButton>Join Now</TheButton>
  </div>
</div>

<style lang="scss">
  .join-us {
    text-align: center;
    padding: 128px 0;
    .team {
      p {
        margin: 13px 0 32px;
      }
    }
  }
</style>
